html{
    font-family: sans-serif;
    background-color: black;
}

.logo{
     display: block;
     margin: auto;
     background-color: red; 
}

#onglets /*On gère les paramètres des onglets*/
{
    display: flex;
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    padding-bottom : 33px; /* à modifier suivant la taille de la police ET de la hauteur de l'onglet dans #onglets li */
    border-bottom : 1px solid #9EA0A1; /*Ligne de séparation*/
    margin-left : 0;
}

#onglets li
{

    display: flex;  
    float : left;
    height : 21px; /* à modifier suivant la taille de la police pour centrer le texte dans l'onglet */
    background-color: #0981e4;
    margin : 2px 2px 0 2px !important;  /* marge intérieure entre le texte et les bordures des cadres */
    border-left: 105px solid #9EA0A1; /*Création des cadres d'onglets*/
    border-right: 105px solid #9EA0A1;
    border-top: 5px solid #9EA0A1;
    border-bottom: 5px solid #9EA0A1;

}
#onglets li.active
{
    border-bottom: 5px solid #9EA0A1;
    background-color: #ffffff;
}
#onglets a:hover
{
    background : rgb(134, 212, 7);
}

.submit:hover
{
    background-color:royalblue;
    color: white;
}

#position-menu
{
    border-top : 1px solid #9EA0A1;
    padding-top : 10px;
}

h1  {
    text-align: center;
    color: white;
}

h2{
     color: white;
     text-align: left;
     text-decoration: underline;
     margin-left: 10%;
     padding-bottom: 1%;
}

h3{
    color: white;
    text-align: center;
}


ul,li{
     color:white; 
}

li{
     margin-left: 45%;
}

p{
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
}

b{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 20px;
}

p,b {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-style: gras ;
}

div label
{
    color: white;
}

.button:hover {
  background-color:rgb(98, 190, 22);
}

.button2:hover {
  background-color:rgb(196, 4, 4);
}

/* ----------------------------------------------------------------------------Tableau--------------------------------------------------------------------------------------------------*/
html {
    font-family: sans-serif;
  }
  
  table {
    border-collapse: collapse;
    border: 2px solid rgb(0, 0, 0);
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin: auto;                                    /* https://openclassrooms.com/forum/sujet/comment-centrer-un-tableau-84917 (Lien utilisé pour centré le tableau) */
  }
  
  
  td, th {
    border: 1px solid rgb(5, 5, 5);
    padding: 10px 20px;
  }
  
  th {
    background-color: rgb(83, 95, 94);
  }
  
  td {
    text-align: left;
  }
  
  tr:nth-child(even) td {
    background-color: rgb(128, 101, 26);
  }
  
  tr:nth-child(odd) td {
    background-color: rgb(98, 190, 22);
  }
  
  caption {
    padding: 10px;
  }

/*------------------------------------------------------------------ Fin tableau --------------------------------------------------------------------------------------------*/

footer {
    display: flex;
    border-top : 1px solid #9EA0A1; /*Ligne de séparation*/
    justify-content: center;
    padding: 10px 20px;
    margin-top: 2mm; /*Pour forcer le footer à se placer en bas de page en augmentant la marge entre le pied de page et le haut du site*/
    background-color: #45a1ff;
    color: #fff;
}

/*------------------------------------------------------------------ Réponses invalides --------------------------------------------------------------------------------------------*/

input:required {
  border-color: red;
  border-width: 3px;
}

input:required.invalid{
  border-color:red;
  background-color: rgb(255, 255, 255);
}

input:focus.invalid {
  outline: none;
}
/* Pour marquer les réponses invalides*/

.page_bottom {
  size:1cm;
}

